{{extend 'layout.html'}}
{{block header}}
{{if not auth.user:}}
    <header class="container-fluid background">
      <div class="jumbotron text-center" id="jumboid">
        {{if response.title:}}
          <h1>{{=response.title}}</h1>
              <p>{{=response.subtitle or ''}}</p>
        {{pass}}
      </div>
    </header>
{{else:}}
<div class='main'>
   <div style="position: absolute; top: 15px; left: 15px; font-size:1.5em">
    {{if page:}}
        <a href="{{=URL(args=[page-1])}}">Previous</a>
    {{pass}}
    </div>
    <div style="position: absolute; top: 15px; right: 15px; font-size:1.5em">
    {{if len(rows) > items_per_page:}}
        <a href="{{=URL(args=[page+1])}}">Next</a>
    {{pass}}
    </div>
</div>
{{pass}}
{{end}}
