<!DOCTYPE html>
<html>
<head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="teintra.css">
        <title>Intra-Organisation</title>
</head>

<body>
<img src=logo.png class=logo>
	<center><div class=heading>Intra-Organisation Meet<br></div>
	<br>
	<hr color="purple" width=84%>
	Organisation_name<sub>(location)</sub></center>
	<br>
	<center>
	<div class="detailbackground">
	<ul class=details>
<li>
<div class=heade id=title>Title:</div><span class=titleinp>((title))</span>
</li>
<li>
<div class=heade>Chair:</div><span class=chairinp>((chair))</span>
</li>
<li>
<div class=heade >Minute Taker:</div><span class=mintakerinp>((mintaker))</span>
</li>
<li>
<div class=heade >Tags:</div><span class=taginp>((tags))</span>
</li>
<li>
<div class=heade >Attendees:</div><span class=attendeesinp>((attendees))</span>
</li>
<li>
<div class=heade >Location:</div><span class=locinp>((location))</span>
</li>
<li>
<div class=heade >Date:</div><span class=dateinp>((date))</span>
</li>
</ul>
</center>
<br>
</div>
<div class="allnotes">
	<div class=note>
		<div class=data>{TIME}:<center>

			((text))
				<br>
			((text))
				<br>
					</center>

		</div>
	</div>

	<div class=note>
		<div class=data>{TIME}:<center>
			(text)
					</center>
		</div>
	</div>
</div>
</body>
</html>
