<!DOCTYPE html>
<html>
<head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="temp.css">
        <title>PTA</title>
</head>

<body>
<img src=logo.png class=logo>
	<center><div class=heading>PTA Meeting<br></div>
	<br>
	<hr color="orange" width=84%>
	Organisation-school_name<sub>(location)</sub></center>
	<br>
	<center>
	<ul class=details>
<li>
<div class=heade>Title:</div>___________________________<br><br>
</li>
<li>
<div class=heade >Minute Taker:</div>___________________________<br><br>
</li>
<li>
<div class=heade >Tags:</div>___________________________<br><br>
</li>
<li>
<div class=heade >Attendees:</div>___________________________<br><br>
</li>
<li>
<div class=heade >Location:</div>___________________________<br><br>
</li>
<li>
<div class=heade >Date:</div>___________________________<br><br>
</li>
</ul>
</center>
<br>

	<div class=note background-color="orange">
	<center>
			{TIME}:__________________________________________________________________________________________________________________________
			<br>
			________________________________________________________________
			_________________________________________________________________</center>

	</div>

	<div class=note background-color="orange">
	{TIME}:<center>
(text)
	</center>
	</div>

</body>
</html>
